.theme-light {
  --color-primary: white;
  --color-secondary: #DDDDDD;
  --color-accent: black;
  --font-color: black;
}

.theme-dark {
  --color-primary: #333333;
  --color-secondary: #555555;
  --color-accent: #888888;
  --font-color: #BBBBBB;
}

.theme-notes {
  --color-primary: yellow;
  --color-secondary: #CCCC00;
  --color-accent: 	#666600;
  --font-color: #333300;
}