.theme-light {
  --color-primary: white;
  --color-secondary: #DDDDDD;
  --color-accent: #AAAAAA;
  --font-color: #222222;
  --font-family: 'Courier Prime', monospace;
  --line-height: normal;
  --icon-filter: invert(10%) brightness(103%) contrast(94%);
}

.theme-dark {
  --color-primary: #333333;
  --color-secondary: #555555;
  --color-accent: #888888;
  --font-color: #BBBBBB;
  --font-family: 'Courier Prime', monospace;
  --line-height: normal;
  --icon-filter: invert(84%) brightness(91%) contrast(87%);
}

.theme-yellow {
  --color-primary: yellow;
  --color-secondary: #CCCC00;
  --color-accent: 	#666600;
  --font-color: #333300;
  --font-family: 'Gloria Hallelujah', cursive;
  --line-height: 1.1;
  --icon-filter: invert(19%) sepia(9%) saturate(6058%) hue-rotate(30deg) brightness(94%) contrast(101%);
}
