#container {
  height: 100%;
}

#lower {
  display: flex;
  flex-direction: column;
}

#weather {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  outline: none;
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: var(--font-family); */
  font-weight: 400;
  /* font-size: defined programmatically in js; */
  background-color: var(--color-primary);
  color: var(--font-color);
  line-height: var(--line-height);
}

#mode-select {
  width: 100%;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-accent)
}

.mode-select-item {
  flex: 0 0 33.333333%;
  /* border: 1px solid red; */
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font-family);
  background-color: var(--color-secondary);
  font-size: 12px;
}
.mode-select-item:hover {
  background-color: var(--color-accent);
  cursor: pointer;
}

.weather-active-tab {
  /* text-decoration: underline; */
  background-color: var(--color-accent);
}

#weather-display {
  background-color: #5b94c1;
  flex: 1 1 auto;
  display: flex;
}

.weather-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

#weather-display-now {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#weather-display-now-grid {
  width: 182px;
  display: grid;
  column-gap: 4px;
  grid-row: auto 42px;
  grid-column: 60px auto auto;
  grid-template-areas:
    /* "img location  location"
    "img temp      temp"
    "img high      low"; */
    "img location  location "
    "img temp      high     "
    "img temp      low      "
}
#current-img {
  grid-area: img;
  width: 60px;
  align-self: center;
  justify-self: center;
}
#current-location {
  grid-area: location;
  font-size: 12px;
  color: white;
  /* deal with long names */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
#current-temp {
  grid-area: temp;
  font-size: 40px;
  font-weight: 700;
  align-self: center;
  color: white;
}
#current-high {
  grid-area: high;
  align-self: center;
  font-size: 12px;
  color: white;
  padding-top: 2px;
}
#current-low {
  grid-area: low;
  align-self: center;
  font-size: 12px;
  color: white;
  padding-bottom: 2px;
}

#weather-display-today {
  width: 100%;
}
.day-grid {
  display: grid;
  justify-items: center;
  grid-template-areas:
  "date"
  "img"
  "temp";
}
.today-time {
  grid-area: date;
  text-align: center;
}
.today-img {
  grid-area: img;
}
.today-temp {
  grid-area: temp;
  text-align: center;
}

#weather-display-week {
  width: 100%;
}
.week-grid {
  /* border: 1px solid #aac8df; */
  display: grid;
  justify-items: center;
  grid-template-areas:
    "date date"
    "img  img"
    "day  night";
}
.week-date { grid-area: date; }
.week-img { grid-area: img; }
.week-day { grid-area: day; }
.week-night { grid-area: night; }

.today-time,
.week-date {
  font-size: 14px;
}


.today-img,
.week-img {
  width: 30px;
}

/* font colors */
.today-time { color: white; }
.today-temp { color: white; }
.week-date { color: white; }
.week-day { color: white; }
.week-night {
  color: #aac8df;
  font-size: 12px;
}

/*
* SETTINGS
*/
#settings {
  max-width: 100%;
  flex: 1 1 auto;
}
#settings-grid {
  max-width: 100%;
  margin-right: 2px;
  display: grid;
  grid-template-columns: 25px auto auto;
  grid-template-areas:
    ".              apikey-label       apikey-label        "
    "apikey-info    apikey-input       apikey-input        "
    "location-get   location-lat-input location-long-input "
    "refresh-button last-update        last-update         ";
}

#apikey-label {
  grid-area: apikey-label;
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: 'Courier Prime', monospace; */
  margin-top: 1px;
}
#apikey-info {
  grid-area: apikey-info;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#apikey-info-img {
  width: 22px;
  height: 22px;
}
#apikey-info:hover,
#apikey-info-img:hover {
  cursor: pointer;
}
#apikey-input {
  grid-area: apikey-input;
  font-size: 10px;
  border-width: 1px;
}
#location-get {
  grid-area: location-get;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#location-get:hover {
  cursor: pointer;
}
#location-get-img {
  width: 21px;
  height: 21px;
}
#location-lat-input {
  grid-area: location-lat-input;
  font-size: 10px;
  width: calc(100% - 6px);
  /* width: 70px; */
  border-width: 1px;
}
#location-long-input {
  grid-area: location-long-input;
  font-size: 10px;
  width: calc(100% - 6px);
  /* width: 70px; */
  border-width: 1px;;
}
#refresh-button {
  grid-area: refresh-button;
  justify-self: end;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#refresh-button:hover,
#refresh-button-img:hover {
  cursor: pointer;
}
#refresh-button-img {
  width: 23px;
  height: 23px;
}
#last-update {
  grid-area: last-update;
  align-self: center;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: 'Courier Prime', monospace; */
}

/*
* Settings Menu tooltips
*/
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: 130px;
  background-color: #555;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 4px;
  border-radius: 4px;

  position: absolute;
  z-index: 1;
  /* bottom: 125%; */
  left: 50%;
  margin-left: 15px;

  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltip-text:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/*
* Info
*/
#info {
  flex: 1 1 auto;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}
#info-container {
  margin: 2px 4px 2px 4px;
}
#info-container > p {
  margin: 0;
}