#weather {
  width: 100%;
  height: 100%;
  outline: none;
  font-family: var(--font-family);
  font-weight: 400;
  /* font-size: defined programmatically in js; */
  background-color: var(--color-primary);
  color: var(--font-color);
  line-height: var(--line-height);
}

#mode-select {
  width: 100%;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-accent)
}

.mode-select-item {
  flex: 0 0 33.333333%;
  /* border: 1px solid red; */
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font-family);
  background-color: var(--color-secondary);
  font-size: 12px;
}
.mode-select-item:hover {
  background-color: var(--color-accent);
  cursor: pointer;
}

#weather-display {
  background-color: #5b94c1;
}

.weather-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.weather-display-now {
  display: grid;
  grid-template-areas:
    "img location  location  location  location"
    "img condition condition condition condition"
    "img temp      temp      temp      temp"
    "img highlabel high      lowlabel  low";
}

.day-grid {
  display: grid;
  grid-template-areas:
  "date"
  "img"
  "temp";
}

.week-grid {
  display: grid;
  grid-template-areas: 
    "date date"
    "img  img"
    "day  night";
}
.week-date { grid-area: date; }
.week-img { grid-area: img; }
.week-day { grid-area: day; }
.week-night { grid-area: night; }

.today-time,
.week-date {
  font-size: 14px;
}


.today-img,
.week-img {
  width: 30px;
}

/* font colors */
.today-time { color: white; }
.today-temp { color: white; }
.week-date { color: white; }
.week-day { color: white; }
.week-night { 
  color: #aac8df;
  font-size: 12px;
}
